*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    /* outline-color: crimson; */
    transition: all 0.5s ease;
}
body{
    background-size:cover;
    background-repeat: no-repeat;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-image: url("https://images.unsplash.com/photo-1556379092-dca659792591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
}
a{
    text-decoration: none;
    color: bisque;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}
.theme-toggle{
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgb(112, 111, 111);
    cursor:pointer;
    z-index: 1;
}
.theme-toggle.active{
    color:#333 ;
}
.theme-toggle.active::before{
    background-color: rgb(8, 8, 8);
    
}
.theme-toggle::before{
    content:'';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20%;
    background-color: rgb(14, 12, 12);
    z-index: -1;

}
#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#display::-webkit-scrollbar{
    display: block;
    height: 3px;

}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover { 
    transform: scale(1.3);

}
button#equal{
    height: 130px;
    
}
.calculator{
    background-size: cover;
   background-position: top;
    background-image: url("https://images.unsplash.com/photo-1635805737707-575885ab0820?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3BpZGVybWFufGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}
button#equal:hover {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrLHB5weYVUuxvbbAg54Ae9QHAbnszcUog9Q&usqp=CAU");
    transition: 1s ease-in-out;
    background-size:cover;
    background-position: center;
}
.calculator #display{
    color: rgb(253, 253, 253);

}
.calculator button#clear{
    background-color: blanchedalmond;
    color: rgb(221, 80, 80);
}
.calculator button.btn-number{
    background-color: aquamarine;
    color: rgb(75, 7, 7);
}
.calculator button.btn-operator{
    background-color: violet;
}
.calculator button.btn-equal{
    background-color: rgb(0, 24, 41);
}
.calculator.dark{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/525/524/4/black-fan-art-minimal-venom-wallpaper-preview.jpg");

}
.calculator.dark #display{
    background-color: rgb(255 251 251 / 3%);
    opacity: 30;
}
    

.calculator.dark button#clear{
    background-color: rgb(128, 128, 128);
    color: #fff;
}
.calculator.dark button.btn-number{
    background-color: rgb(19, 4, 87);
    color:rgb(139, 107, 139)
    
}
.calculator.dark button.btn-operator{
    background-color: rgb(0, 0, 0);
    color: rgb(8, 92, 29);
    
}
.calculator.dark button.btn-equal{
    background-color: rgb(130, 20, 219);
    
}

